*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Avenir';    
}

.button{
    width:30%;
    border-radius: 0;
    padding: 1% 2%;
    border:none;
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius: 10px;
}
h1{
    font-size: 3rem;
    text-align: center;

}

/*Navbar*/

.navbar {
    width: 100%
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 64px;
    padding: 0 2%;
    position: fixed;
    background-color: white;
    z-index: 2;
}

nav{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav2{
    justify-content: flex-end;
}

header nav span{
    padding: 0 2%;
    cursor: pointer;
    transition: all .5s ease;
}

header nav span:hover{
    background-color: black;
    color: white;
}

/*Main Sections*/

.main-section{
    width: 100%;
    min-height: 50px;
    background-color: black;  
    

}
.cover{
    background-image: url('https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
article.layout{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

section.parallax{
    background-image: url('images/ACDelco.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: .4;
}
.marcas {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color:grey;
    z-index: 1;
    align-items: center;
    justify-content: center
}

.marcas img {
    width: 100px;
}

.hamb{
    position: fixed;
    top: 0;
    right: 0;
    padding: 5%;
    display: none;
}
.marcas img {
    margin-top: 64px;
    width: 45px
}

/*Media queries*/


 

.main-section2{
   background-color: black;
   color: white;
   
   
}

.main-section2 p {
    font-size: 35px;
}

.maps{
    width: 50%;
    height: 54vh;
    align-items: center;
    
}


#buscador{

    width: 100%;
    
}

.card{

    margin: 20px;
}

.card-group{
    padding:20px;
}

.form-group{

    padding:10px;
    margin: 10px;
}

#hola{
text-align:center;
}

.perrona{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    background-color: black;
    
}

.perrona img{
    width: 40%;
    margin: 5px;
   
}

    



@media(max-width:500px){
    .header{
        display: block;
    }
   .nav2{
       margin-top: -200%;       
       flex-direction: column;
       justify-content: flex-start;
       background-color:black;
       transition: all .3s ease;
       color: white;
       width: 100%; 
       height: auto;      
   }
   .hamb{
       display: block;
   }
   .hamb:hover ~ .nav2{
    margin-top: 40px;
   }
   .maps{
       width: 100%;
   }
   .perrona img{
        width: 100%;
    }
}  

#main-footer{
    padding: 2% 5%;
    background-color: grey;
    color:white;
}

#main-footer article:first-child{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#main-footer{
    text-decoration: none;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.button1 button {


}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}
